https://localhost:2015/pymorandum-gallery/ {
    tls self_signed
    root docs/
    header / {
        X-Content-Type-Options  "nosniff"
        X-Frame-Options         "DENY"
        Content-Security-Policy "default-src https:"
    }
    gzip
}
